@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto';
}

.section-one {
  padding-top: 2em;
  height: 100%;
  background-image: url(../images/pb_lF8VWaPU.jpg);
  background-size: cover;
  padding-left: 5.5em;
  padding-right: 6.5em;
  padding-bottom: 8em;
}

.section-one nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-one nav label a {
  text-decoration: none;
  color: #d57d96;
  font-weight: 700;
  font-size: 1.8em;
}

.section-one nav button {
  background: none;
  border-color: #d57d96;
  color: #d57d96;
  padding: 1em;
  border-radius: 4px;
  border: 0.738318px solid;
  font-family: 'Poppins';
}

.section-one nav button a {
  text-decoration: none;
  color: #d57d96;
}

.section-one .secret-one {
  margin-top: 3em;
  width: 50%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-one .secret-one h1 {
  font-size: 4.25em;
  margin-bottom: .3em;
}

.section-one .secret-one p {
  font-weight: 400;
  width: 78%;
  line-height: 2.3em;
  color: #fef3f6;
  font-size: 1.1em;
  opacity: .8;
}

.section-one .store-ad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
}

.section-one .store-ad button {
  margin-top: 2em;
  padding: 6px 30px;
  padding-right: 38px;
  font-size: 1.25em;
  border-radius: 6px;
  background-color: #d57d96;
  border-color: #d57d96;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-one .store-ad button img {
  height: 1.8em;
}

.section-one .store-ad button p {
  padding-left: .7em;
  line-height: 1.3em;
  font-weight: 400;
}

.section-one .store-ad button p span {
  font-weight: bold;
  width: 38px;
}

@media screen and (max-width: 600px) and (min-width: 280px) {
  .section-one {
    padding-top: .5em;
    height: 100vh;
    background-image: url(../images/pb_lF8VWaPUmobile.png);
    background-size: cover;
    padding-left: .9em;
    padding-right: 0.9em;
    padding-bottom: 0em;
  }
  .section-one nav {
    padding-top: .5EM;
  }
  .section-one nav label a {
    font-size: 1.4em;
  }
  .section-one nav button {
    padding: .5em;
  }
  .section-one .secret-one {
    margin-top: 3em;
    margin-bottom: 2em;
    width: 100%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-one .secret-one h1 {
    font-size: 1.7em;
    margin-bottom: .3em;
  }
  .section-one .secret-one p {
    font-weight: 400;
    width: 78%;
    line-height: 2.3em;
    color: #fef3f6;
    font-size: 1.1em;
    opacity: .8;
  }
  .section-one .store-ad {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-one .store-ad button {
    margin-top: 1em;
    padding: 5px 20px;
    font-size: 1.25em;
  }
}

.section-two {
  background-color: rgba(244, 219, 225, 0.98);
}

.section-two .second-div {
  background-color: rgba(244, 219, 225, 0.98);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-two .second-div .mobile-pink-image img {
  display: none;
}

.section-two .second-div .description .container {
  padding-top: 18em;
  padding-left: 7em;
  padding-right: 7em;
}

.section-two .second-div .description .container h1 {
  font-size: 4em;
}

.section-two .second-div .description .container p {
  margin-top: 1em;
  font-size: 1.2em;
}

.section-two .second-div .description .container button {
  margin-top: 1.8em;
  background: none;
  font-size: .8em;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 6px;
  font-weight: bold;
  border: 1px solid #0F0004;
}

.section-two .second-div .description .container button a {
  text-decoration: none;
  color: black;
}

.section-two .second-div .description .container button a:hover {
  color: gray;
}

@media screen and (max-width: 600px) and (min-width: 280px) {
  .section-two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-two .second-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-two .second-div .pink-image {
    display: none;
  }
  .section-two .second-div .mobile-pink-image img {
    display: block;
    width: 100%;
  }
  .section-two .second-div .description .container {
    padding-top: 3em;
    padding-left: 4em;
    padding-right: 4em;
    padding-bottom: 1.3em;
    text-align: center;
  }
  .section-two .second-div .description .container h1 {
    font-size: 2em;
  }
}

.section-three .container-two {
  padding: 4em 4em 2.5em 4em;
  text-align: center;
  font-size: 3em;
}

.section-three .container-two h1 {
  font-weight: 600;
}

.section-three .container-two p {
  line-height: 1.4em;
  font-size: .8em;
  margin-top: .6em;
}

@media screen and (max-width: 600px) and (min-width: 280px) {
  .section-three .container-two {
    padding: 2em 3em 1em 3em;
    text-align: center;
    font-size: 1em;
  }
  .section-three .container-two h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 1em;
  }
  .section-three p {
    font-size: .2em;
  }
}

.section-four {
  font-size: 1.3em;
  padding-top: 10em;
  padding-bottom: 13em;
  padding-left: 9em;
  padding-right: auto 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  background: #000000;
  color: white;
}

.section-four .first-portion {
  line-height: 2.4em;
  font-size: .65em;
  letter-spacing: 1px;
  font-weight: lighter;
}

.section-four .first-portion #social-media-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-bottom: 3em;
  padding-top: 1em;
}

.section-four .first-portion p {
  font-size: .7em;
  letter-spacing: 1.55px;
}

.section-four .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.section-four .lists ul li {
  list-style-type: none;
}

.section-four .info h5 {
  font-size: .7em;
  letter-spacing: 2px;
}

.section-four .second-portion h4 {
  font-size: .6em;
  letter-spacing: 4px;
}

.section-four .second-portion p {
  font-size: 1.5em;
  padding-top: 4px;
  color: #d57d96;
}

.section-four .second-portion .touch-and-sub {
  padding-top: 2.5em;
}

.section-four .second-portion .touch-and-sub h3 {
  padding-bottom: 9px;
  font-size: .6em;
  letter-spacing: 2px;
  font-weight: 100;
}

.section-four .second-portion .touch-and-sub #sub-button input {
  height: 4em;
  width: 70%;
}

.section-four .second-portion .touch-and-sub #sub-button button {
  height: 4em;
  width: 10%;
  padding-left: -10px;
  position: absolute;
  background-color: #d57d96;
  border-radius: 4px;
  border: #d57d96;
  color: aliceblue;
}

@media screen and (max-width: 600px) and (min-width: 280px) {
  .section-four {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 4em;
    padding-bottom: 6em;
    padding-left: 1.5em;
    padding-right: auto 1.5em;
  }
  .section-four .first-portion .lists {
    font-size: .7em;
    gap: 35px;
  }
  .section-four .second-portion p {
    font-size: 1em;
  }
  .section-four .second-portion .touch-and-sub #sub-button input {
    height: 2em;
    width: 60%;
  }
  .section-four .second-portion .touch-and-sub #sub-button button {
    height: 2.04em;
    width: 20%;
    padding-left: -40px;
    margin-left: -2px;
    margin-top: 1px;
  }
}
/*# sourceMappingURL=secretstyle.css.map */